.header-banner{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .ubicacion {
    position: absolute;
    right: 24px;
    bottom: 13px;
    color: white;
    p {
      position: relative;
      font-size: 3.5rem;
      line-height: 3.5rem;
      width: 325px;
      font-weight:  300;
      i{
        &.calender{
          position: absolute;
          display: block;
          width: 40px;
          height: 35px;
          background-image: url(../../assets/images/calendar-icon.png);
          background-size: cover;
          left: -61px;
          top: 3px;
        }
        &.pointer{
          position: absolute;
          display: block;
          width: 25px;
          height: 41px;
          background-image: url(../../assets/images/ubicacion-icon.png);
          background-size: cover;
          left: -56px;
          bottom: 15px;
        }
      }
      &:first-child{
        margin-bottom: 30px;
        &:after{
          content: '';
          display: block;
          width: 40px;
          height: 4px;
          border-radius: 50px;
          background: white;
          position: absolute;
          bottom: -10px;
        }
      }
    }
  }
}