.bion-2018{
  padding: 114px 0;
  .row{
    .col-md-6{
      &:first-child{
        h1{
          margin-top: 0;
          font-size: 64px;
          strong{
            color: $green;
          }
          font-weight: 300;//
        }
        p{
          font-size: 1.8rem;
        }
      }
      &:last-child{

      }
    }
  }
}