.locacion{
  .como-llegar{
    background: $bg-gray;
    padding: 20px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    p{
      margin: 0;
    }
  }
  .container-fluid{
    .col-md-6{
      padding: 0;
      &:first-child{
        @media#{$M900}{
          #wpgmza_map{
            float: none !important;
          }
        }
      }
      &:last-child{
        padding: 70px 90px;
        @media#{$M900}{
          padding: 35px 15px;
        }
        .inscribete-box{
          margin-top: 30px;
          .btn-inscribe{
            background: $green;//
            text-align: center;
            color: white;
            font-size: 2rem;
            padding: 10px 30px;
            font-weight: bold;
          }
        }
        p {
          position: relative;
          font-size: 3.5rem;
          line-height: 3.5rem;
          font-weight:  300;
          text-align: center;
          &.pointer-como{
            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              width: 25px;
              height: 41px;
              background-image: url(../../assets/images/ubicacion-icon.png);
              background-size: cover;
              top: 50%;
              right: 80%;
              -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
              @media #{$m1500}{
                right: 70%;
              }
              @media #{$M900} {
                right: 85%;
              }
            }
          }
        }
        .mas-info{
          margin-top: 55px;
          border-top: solid 1px rgba(130, 130, 126, 0.3);
          padding-top: 63px;
          padding-left: 20px;
          h4{
            font-size: 2.9rem;
            line-height: 2.9rem;
            text-align: left;
          }
          p{
            text-align: left;
            font-size: 3rem;
            font-weight: 200;
            &.mail{
              &:before{
                content: '';
                display: inline-block;
                width: 38px;
                height: 26px;
                background-image: url(../../assets/images/mail-icon.png);
                background-size: cover;
                vertical-align: middle;
                margin-right: 30px;
              }
            }
            &.phone{
              &:before{
                content: '';
                display: inline-block;
                width: 39px;
                height: 39px;
                background-image: url(../../assets/images/phone-icon.png);
                background-size: cover;
                vertical-align: middle;
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}