.organiza{
  .organiza-title{
    padding: 20px;
    color: $bg-gray;
    font-size: 3rem;
    font-weight: bold;
  }
  .container{
    .col-md-12{
      margin-bottom: 40px;
      img{
        width: 46%;
        @media #{$M900} {
          width: 100%;
        }
      }
    }
    .col-md-4{
      min-height: 320px;
      p{
        padding: 20px;
        color: $bg-gray;
        font-size: 2.5rem;
        font-weight: bold;
      }
      &:nth-of-type(2){
        .icons-aliados{
          img{
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
      &:nth-of-type(3){
        border-right: solid 1px $green;
        border-left: solid 1px $green;
        .icons-apoya{
          img{
            width: 100%;
            margin-bottom: 15px;
          }
          &:nth-of-type(2){
            img{
              width: 75%;
            }
          }
        }
      }
      &:nth-of-type(4){
        .icons-medio{
          img{
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}