.video{
  width: 100%;
  height: 49vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .play-icon{
    background-image: url(../../assets/images/play-icon.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
    position: absolute;
  }
  .modal-dialog{
    width: 65%;
    @media #{$M900}{
      width: auto;
    }
    .modal-content{
      background: transparent;
      border: 0px solid rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.0);
      box-shadow: 0 5px 15px rgba(0,0,0,0.0);
      .modal-header{
        background: transparent;//
        border-bottom: 0;
        padding: 0;
        .close{
          font-size: 50px;
          font-weight: 100;
          line-height: 1;
          margin-bottom: 0;
          color: #fff;
          text-shadow: 0 1px 0 #fff;
          opacity: 1;
        }
      }
      .modal-body{
        padding: 0;
      }
    }
  }
}