@font-face {
  font-family: "AmpleSoft";
  src: local(AmpleSoft Light),
  url("#{$amplesoft-font-path}AmpleSoft-Light.eot") format("eot"),
  url("#{$amplesoft-font-path}AmpleSoft-Light.otf") format("otf"),
  url("#{$amplesoft-font-path}AmpleSoft-Light.svg") format("svg"),
  url("#{$amplesoft-font-path}AmpleSoft-Light.ttf") format("ttf"),
  url("#{$amplesoft-font-path}AmpleSoft-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "AmpleSoft";
  src: local(AmpleSoft Regular),
  url("#{$amplesoft-font-path}AmpleSoft-Regular.eot") format("eot"),
  url("#{$amplesoft-font-path}AmpleSoft-Regular.otf") format("otf"),
  url("#{$amplesoft-font-path}AmpleSoft-Regular.svg") format("svg"),
  url("#{$amplesoft-font-path}AmpleSoft-Regular.ttf") format("ttf"),
  url("#{$amplesoft-font-path}AmpleSoft-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "AmpleSoft";
  src: local(AmpleSoft Medium),
  url("#{$amplesoft-font-path}AmpleSoft-Medium.eot") format("eot"),
  url("#{$amplesoft-font-path}AmpleSoft-Medium.otf") format("otf"),
  url("#{$amplesoft-font-path}AmpleSoft-Medium.svg") format("svg"),
  url("#{$amplesoft-font-path}AmpleSoft-Medium.ttf") format("ttf"),
  url("#{$amplesoft-font-path}AmpleSoft-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "AmpleSoft";
  src: local(AmpleSoft Bold),
  url("#{$amplesoft-font-path}AmpleSoft-Bold.eot") format("eot"),
  url("#{$amplesoft-font-path}AmpleSoft-Bold.otf") format("otf"),
  url("#{$amplesoft-font-path}AmpleSoft-Bold.svg") format("svg"),
  url("#{$amplesoft-font-path}AmpleSoft-Bold.ttf") format("ttf"),
  url("#{$amplesoft-font-path}AmpleSoft-Bold.woff") format("woff");
  font-weight: 700;
}
