footer{
  background: $green;
  padding: 25px 0 0 0;
  margin-top: 30px;
  p{
    padding: 20px 0 20px 50px;
    color: $text-footer;
    font-size: 2.31rem;
    font-weight: 300;
  }
  .footer-nav{
    padding-bottom: 30px;
    margin: 0;//
    .col-md-2{
      @media #{$M900} {
        img{
          margin: 0 auto;
        }
      }
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          height: 45px;
          @media #{$M900} {
            padding: 0 40px;
          }
          a{
            padding: 0px;
            color: $text-footer;
            font-size: 2rem;
            line-height: 2rem;;
            font-weight: 300;
          }
        }
      }
    }
  }
  .powered{
    background: $pbv-gray;
    padding: 20px;
  }
}