header{
  width: 100%;
  height: 4.8vw;
  background: white;
  position: relative;
  display: block;
  @media #{$m1500}{
    height: 4.7vw;
  }
  @media #{$M900}{
    height: auto;
  }
  .navbar{
    min-height: 4.8vw;
    background: white;
    @media #{$m1500}{
      min-height: 4.7vw;
    }
    @media #{$M900}{
      min-height: auto;
    }
    .navbar-brand{
      padding: 13px 20px 20px 70px;
      height: 4.8vw;
      @media #{$m1500}{
        height: 4.7vw;
        padding: 20px 20px 20px 100px;
      }
      @media #{$M900}{
        height: auto;
        padding: 13px 20px 20px 10px;
      }
      img{
        width: 245px;
        max-width: 100%;
        @media #{$m1500}{
          width: 350px;
        }
        @media #{$M900}{
          height: auto;
          width: 230px;
        }
      }
    }
    .navbar-collapse{
      .rrss{
        float: right;
        height: 4.8vw;
        padding: 20px 40px;
        @media #{$m1500}{
          height: 4.7vw;
          padding: 25px 65px;
        }
        @media #{$M900}{
          height: auto;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li{
            display:inline-block;
            @media #{$m1500}{
              font-size: 2rem;
            }
            @media #{$M900}{
              height: auto;
            }
          }
        }
      }
      .nav {
        height: 4.8vw;
        @media #{$m1500}{
          height: 4.7vw;
        }
        @media #{$M900}{
          height: auto;
        }
        li{
          &.active{
            a {
              background: $green;
              color: white;
            }
          }
          a{
            padding: 20px 8px;
            height: 4.8vw;
            font-family: "AmpleSoft", sans-serif;
            font-size: 1.7rem;
            &:hover{
              background: $green;
              color: white;
            }
            @media #{$m1500}{
              height: 4.7vw;
              font-size: 2.3rem;
              padding: 35px 15px;
            }
            @media #{$M900}{
              height: auto;
            }
          }
          &:first-child{
            a{
              padding: 20px;
              @media #{$m1500}{
                padding: 33px 20px;
              }
            }
          }
          &:last-child{
            a{
              height: auto;
              background: $green;
              color: white;
              padding: 4px 10px;
              border-radius: 10px;
              margin-top: 15px;
              @media #{$m1500}{
                margin-top: 25px;
              }
            }
          }
        }
      }
    }
  }
}