/* COLORES */

$green: #B5CD1F;
$icon-green: #C6D424;
$footer-bg: #B5CD1F;
$text-footer: #718204;
$bg-gray: #909090;
$gray: #82827E;
$pbv-gray: #444443;

/* MEDIA QUERYS */

$M900:  "screen and (max-width : 900px)" !default;
$M500:  "screen and (max-width : 500px)" !default;
$m1500:  "screen and (min-width : 1500px)" !default;


/* FONTS */
$amplesoft-font-path: "../fonts/amplesoft/" !default;

@import "amplesoft";